@layer base {
  *, *:before, *:after {
    box-sizing: inherit;
    scrollbar-width: thin;
    scrollbar-color: #34d399;
  }

  *::-webkit-scrollbar {
    height: 3px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7f3d0;
    border-radius: 5px;
  }

  html {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  a {
    cursor: pointer;
    transition: color 0.3s;
  }

  .error {
    @apply text-pink-400;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .content {
    @apply w-full max-w-screen-lg mx-auto p-6 bg-white rounded-sm shadow-md;
  }

  .title {
    @apply text-2xl text-gray-700 font-bold mb-6;
  }

  .table-title {
    @apply text-sm font-medium text-gray-500 mb-4;
  }

  .thead {
    @apply text-xs uppercase;
  }

  .tbody {
    @apply divide-y divide-gray-200;
  }

  .th {
    @apply p-2 text-left;
  }
}

/* ------------ Animations ------------ */
.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-enter-to,
.list-leave-from {
  opacity: 1;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease-out;
}

.route-enter-from, .route-leave-to {
  opacity: 0;
}

.route-enter-active, .route-leave-active {
  transition: all 0.3s ease-in;
}