@layer base {
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  a {
    cursor: pointer;
    transition: color 0.3s;
  }

  .error {
    @apply text-pink-400;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  /* ------------ Animations ------------ */
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
  }

  .list-enter-to,
  .list-leave-from {
    opacity: 1;
  }

  .list-enter-active,
  .list-leave-active {
    transition: all 0.3s ease-out;
  }

  .route-enter-from, .route-leave-to {
    opacity: 0;
  }

  .route-enter-active, .route-leave-active {
    transition: all 0.3s ease-in;
  }
}