$textColor: #000000;
$mainColor: #34d399;
$linkColor: rgb(255, 255, 255, 0.8);
$colorTransparent: rgba(255, 255, 255, 0);
$inputBgColor: #F1F1F1;
$mainColorHovered: #30c890; 
$errorMsgColor: rgba(255, 0, 0, 0.8);
